@model IEnumerable<ProjectFinal.NET.Data.User>

@{
    ViewData["Title"] = "UserManager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="padding: 0 16px;">
    <h2>User Manager</h2>

    <p>
        <a asp-action="Create" style="text-decoration: none;font-size: 20px;color: blue;">Create New</a>
    </p>

    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th style="text-align: left; margin-right: 44px; border-bottom: 2px solid red;">
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th style="text-align: left; margin-right: 44px; border-bottom: 2px solid red;">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th style="text-align: left; margin-right: 44px; border-bottom: 2px solid red;">
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th style="text-align: left; margin-right: 44px; border-bottom: 2px solid red;">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th style="text-align: left; margin-right: 44px; border-bottom: 2px solid red;">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th style="text-align: left; margin-right: 44px; border-bottom: 2px solid red;">
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th style="border-bottom: 2px solid red;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                        <a asp-action="DetailManager" asp-route-id="@item.UserId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>